* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.center {
  width: 300px;
  margin: 100px auto;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 2;
}
.item.active {
  border-color: rgb(90, 122, 209);
}
.progress {
  width: 0%;
  height: 5px;
  background-color: rgb(90, 122, 209);
  position: absolute;
  transition: all 0.3s ease;
}
.progress::before {
  content: "";
  width: 300px;
  height: 5px;
  position: absolute;
  background-color: #ccc;
  z-index: -1;
}
.bot {
  width: 300px;
  margin: 20px 80px;
}
.btn {
  margin-right: 20px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}
.next {
  background-color: rgb(90, 122, 209);
}

button {
  outline: none;
}
